<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            >
        </div>
        <button type="submit">Iniciar Session</button>
    </form>
</template>-->

<template>
	<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" action="#" @submit.prevent = "submit">
                    <h1>Login</h1>
                    <p class="text-muted"> Por favor ingrese usuario y Contraseña</p> 
					<input type="email" name="email" id="email" v-model="form.email" placeholder="Usuario" autocomplete="off"> 
					<input type="password" name="password" id="password" v-model="form.password" placeholder="Contraseña"> 
					<input type="submit" name="" value="Iniciar Sesion">
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<style scoped>
    @import url('../../css/mainAuth');  
</style>

<script>
import {mapActions} from 'vuex'
export default {
    name:'SignIn',
    data(){
        return {
            form:{
                email:'',
                password:''
            }
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){
            console.log('ENVIANDO FORMULARIO')
            console.log(this.form)
            await this.signIn(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>