<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" v-model="form.name">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <div>
            <label for="password">Confirmar Contraseña</label>
            <input type="text" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
        </div>
        <button type="submit">Registrarse</button>
    </form>
</template>-->
<template>
	<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" action="#" @submit.prevent = "submit">
                    <h1>Login</h1>
                    <p class="text-muted"> Por favor Registrarse</p> 
					<input type="text" name="name" id="name" v-model="form.name" placeholder="Nombre" autocomplete="off"> 
					<input type="email" name="email" id="email" v-model="form.email" placeholder="Correo Electronico" autocomplete="off"> 

					<input type="password" name="password" id="password" v-model="form.password" placeholder="Contraseña" autocomplete="off"> 
					<input type="password" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation" placeholder="Confirmar Contraseña" autocomplete="off"> 

					<input type="submit" name="" value="Registraesse">
                </form>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
    name:'SignUp',
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>